<div class="datapicker-header" >
    <button (click)="prevMonth()">prev</button>
     {{ currentDate | date:'MMMM' }}
    <button (click)="nextMonth()">next</button>
</div>

<div>
    <div *ngFor="let dayName of week" class="day">
        <p class="day">{{ dayName }}</p>
    </div>

    <div *ngFor="let week of fullMonth;">
        <div    *ngFor="let day of week;"
                [class.disable-day]="disablePreviosly == true && day < date"
                [class.weekend]="day.getDay() == 6 || day.getDay() == 0"
                [class.anotherMonth]="day.getMonth() != currentDate.getMonth()"
                [class.selected]="day === selectedDay || day === startDate || day === endDate || (range && day >= startDate && day <= endDate)"
                [class.current-date]="day.getDate() == date.getDate() && day.getMonth() == date.getMonth()"
                [ngClass]="setClasses(day)"
                (click)="onSelect(day)" class="day">
            <p class="date">{{ day | date:'dd' }}</p>
        </div>
    </div>
</div>
