<h1> {{ title }} </h1>
<div>
    <button (click)="prevMonth()">prev</button>
    <h2> {{ currentDate | date:'MMMM' }} </h2>
    <button (click)="nextMonth()">next</button>
</div>

<div>
    <div class="day-name">Пн</div>
    <div class="day-name">Вт</div>
    <div class="day-name">Ср</div>
    <div class="day-name">Чт</div>
    <div class="day-name">Пт</div>
    <div class="day-name">Сб</div>
    <div class="day-name">Вс</div>

    <div *ngFor="let week of fullMonth;">
        <div    *ngFor="let day of week;"
                [class.disable-day]="disablePreviosly == true && day < date"
                [class.selected]="day === selectedDay || day === startDate || day === endDate || (range && day >= startDate && day <= endDate)"
                [class.current-date]="day.getDate() == date.getDate() && day.getMonth() == date.getMonth()"
                [ngClass]="setClasses(day)"
                (click)="onSelect(day)" class="day">
            {{ day | date:'dd' }}
        </div>
    </div>
</div>

<div class="callback">
    {{ callback }}
</div>